*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-container {
  position: relative;
  min-width: 768px;
  min-height: 100vh;
  padding: 48px 96px;
  color: #ffffff;
  /* background: linear-gradient(180deg, rgba(39, 39, 39, 0.8) 0%, #272727 40%), url(assets/background.jpg); */
  background-color: #0f0f0f;
  background: linear-gradient(180deg, #272727cc 0%, #0f0f0f 40%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.navbar a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.navbar a:hover{
  color: #febb08;
  
}
.about-link:hover::before{
  content: '>';
  font-weight: 600;
  color: #febb08;
}

.logo-link{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo{
  height: 48px;
}

.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 34px;
}

.search-bar{
  position: relative;
  width: 500px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input{
  position: relative;
  width: 500px;
  height: 48px;
  border-radius: 24px;
  padding: 0 24px;
  background: rgba(217, 217, 217, 0.2);
}

.search-bar input::placeholder{
  color: #f5f5f5;
}

.search-icon{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: rgba(217, 217, 217, 0.2);
  transition: all 0.3s ease-in-out;
}

.search-icon:hover{
  color: #febb08;
  box-shadow: 0px 0px 8px 4px rgba(254, 187, 8, 1);
}

.search-ex{
  font-size: 12px;
}

.prev-videos .heading{
  font-size: 18px;
  margin-bottom: 24px;
}

.video-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 34px 42px;
}

.video{
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 360px;
}

.video-back{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 18px;
}

.spam-perc{
  position: absolute;
  left: 18px;
  bottom: 14px;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 18px;
}

.video-info{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.video-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 22px;
  transition: all 0.3s ease-in-out;
}

.video-icon:hover{
  color: #febb08;
  box-shadow: 0px 0px 8px 4px #febb08;
}

.video-title{
  font-weight: 600;
  font-size: 16px;
}

.video-channel, .video-time{
  font-size: 14px;
  opacity: 0.8;
  margin-top: 6px;
}

.video-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 64px;
}

.video-container .video{
  max-width: 440px;
}

.video-container .video-back{
  height: 240px;
}

.video-container .video-title{
  font-size: 18px;
}

.video-stat{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 12px;
}

.video-stat p{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.video-desc{
  font-size: 14px;
  margin-top: 18px;
  background-color: rgba(217, 217, 217, 0.2);
  padding: 14px 24px;
  border-radius: 18px;
  line-height: 1.8;
  /* height: 420px; */
}

.video-comments{
  width: calc(100% - 504px);
  background-color: rgba(217, 217, 217, 0.2);
  padding: 18px 34px;
  border-radius: 18px;
  /* height: 807px;
  overflow-y: auto; */
}

.comment-list{
  margin-top: 24px;
}

.comment-heading{
  font-size: 18px;
  font-weight: 600;
}

.comment{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
  margin-bottom: 34px;
}

.channel-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 22px;
}

.comment-channel{
  font-size: 14px;
  font-weight: 600;
}

.comment-channel span{
  opacity: 0.8;
}

.comment-title{
  font-weight: 600;
  font-size: 16px;
}